extends includes/layout

block body-header
  include includes/header

block body-main

  .cabecera_blog
    .cabecera_section
      .cabecera_title.color-title
        h1 Blog
    aside.cabecera_aside
      .cabecera_aside_img
        img(src="/img/header.svg", alt="", srcset="").cabecera_img
        

        
block body-footer
  include includes/footer