extends includes/layout

block body-header
  include includes/header

block body-main

  .cabecera_blog
    .cabecera_section
      .cabecera_title.color-title
        h1 Blog
    aside.cabecera_aside
      .cabecera_aside_img
        img(src="/img/header.svg", alt="", srcset="").cabecera_img
  
  .main.d-flex
    .blog_container 
      .blog_box
        .box_container 
          .blog_img 
            img(src="/img/financial_data.svg", alt="", srcset="")
          .blog_text 
            h2.color-title Blog number One
            .blog_info 
              .blog_category Cat
                p Category
              .blog_tag Tag
                p Tag
              .blog_date 6 Abril
              .blog_autor David Burbano
            .blog_paragrph 
              p Lorem ipsum dolor  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repudiandae ullam dolor et voluptates porro accusamus totam cumque non cupiditate veniam aliquam laboriosam mollitia, consectetur voluptas ipsa molestias pariatur atque! sit amet consectetur adipisicing elit. Illum earum sapiente doloremque consequatur id a tenetur odio nihil cumque ipsa quia quod aliquid corporis alias eaque dolor, nemo libero deleniti.
        .box_link   
          button.blog_button.color-white.back-color-first Seguir leyendo
          a.fa-solid.fa-share.color-first(href="/blog")
        .divide


      .blog_box
        .box_container 
          .blog_img 
            img(src="/img/clean_up.svg", alt="", srcset="")
          .blog_text 
            h2.color-title Blog number One
            .blog_info 
              .blog_category Cat
                p Category
              .blog_tag Tag
                p Tag
              .blog_date 6 Abril
              .blog_autor David Burbano
            .blog_paragrph 
              p Lorem ipsum dolor  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repudiandae ullam dolor et voluptates porro accusamus totam cumque non cupiditate veniam aliquam laboriosam mollitia, consectetur voluptas ipsa molestias pariatur atque! sit amet consectetur adipisicing elit. Illum earum sapiente doloremque consequatur id a tenetur odio nihil cumque ipsa quia quod aliquid corporis alias eaque dolor, nemo libero deleniti.
        .box_link   
          button.blog_button.color-white.back-color-first Seguir leyendo
          a.fa-solid.fa-share.color-first(href="/blog")
        .divide


      .blog_box
        .box_container 
          .blog_img 
            img(src="/img/finish_line.svg", alt="", srcset="")
          .blog_text 
            h2.color-title Blog number One
            .blog_info 
              .blog_category Cat
                p Category
              .blog_tag Tag
                p Tag
              .blog_date 6 Abril
              .blog_autor David Burbano
            .blog_paragrph 
              p Lorem ipsum dolor  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repudiandae ullam dolor et voluptates porro accusamus totam cumque non cupiditate veniam aliquam laboriosam mollitia, consectetur voluptas ipsa molestias pariatur atque! sit amet consectetur adipisicing elit. Illum earum sapiente doloremque consequatur id a tenetur odio nihil cumque ipsa quia quod aliquid corporis alias eaque dolor, nemo libero deleniti.
        .box_link   
          button.blog_button.color-white.back-color-first Seguir leyendo
          a.fa-solid.fa-share.color-first(href="/blog")
        .divide


      .blog_box
        .box_container 
          .blog_img 
            img(src="/img/moving_forward.svg", alt="", srcset="")
          .blog_text 
            h2.color-title Blog number One
            .blog_info 
              .blog_category Cat
                p Category
              .blog_tag Tag
                p Tag
              .blog_date 6 Abril
              .blog_autor David Burbano
            .blog_paragrph 
              p Lorem ipsum dolor  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repudiandae ullam dolor et voluptates porro accusamus totam cumque non cupiditate veniam aliquam laboriosam mollitia, consectetur voluptas ipsa molestias pariatur atque! sit amet consectetur adipisicing elit. Illum earum sapiente doloremque consequatur id a tenetur odio nihil cumque ipsa quia quod aliquid corporis alias eaque dolor, nemo libero deleniti.
        .box_link   
          button.blog_button.color-white.back-color-first Seguir leyendo
          a.fa-solid.fa-share.color-first(href="/blog")
        .divide


      .blog_box
        .box_container 
          .blog_img 
            img(src="/img/react.svg", alt="", srcset="")
          .blog_text 
            h2.color-title Blog number One
            .blog_info 
              .blog_category Cat
                p Category
              .blog_tag Tag
                p Tag
              .blog_date 6 Abril
              .blog_autor David Burbano
            .blog_paragrph 
              p Lorem ipsum dolor  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repudiandae ullam dolor et voluptates porro accusamus totam cumque non cupiditate veniam aliquam laboriosam mollitia, consectetur voluptas ipsa molestias pariatur atque! sit amet consectetur adipisicing elit. Illum earum sapiente doloremque consequatur id a tenetur odio nihil cumque ipsa quia quod aliquid corporis alias eaque dolor, nemo libero deleniti.
        .box_link   
          button.blog_button.color-white.back-color-first Seguir leyendo
          a.fa-solid.fa-share.color-first(href="/blog")
        .divide


      .blog_box
        .box_container 
          .blog_img 
            img(src="/img/working.svg", alt="", srcset="")
          .blog_text 
            h2.color-title Blog number One
            .blog_info 
              .blog_category Cat
                p Category
              .blog_tag Tag
                p Tag
              .blog_date 6 Abril
              .blog_autor David Burbano
            .blog_paragrph 
              p Lorem ipsum dolor  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repudiandae ullam dolor et voluptates porro accusamus totam cumque non cupiditate veniam aliquam laboriosam mollitia, consectetur voluptas ipsa molestias pariatur atque! sit amet consectetur adipisicing elit. Illum earum sapiente doloremque consequatur id a tenetur odio nihil cumque ipsa quia quod aliquid corporis alias eaque dolor, nemo libero deleniti.
        .box_link   
          button.blog_button.color-white.back-color-first Seguir leyendo
          a.fa-solid.fa-share.color-first(href="/blog")
        .divide
    .cat-tag
      .box_category 
        h3 Categorias
        ul
          li  
            a.color-first(href="#") Service
          li  
            a.color-first(href="#") Post
          li  
            a.color-first(href="#") Enterprise
          li  
            a.color-first(href="#") Company
          li  
            a.color-first(href="#") Money
      .tag 
        h3 Tags
        ul
          li  
            a.color-first(href="#") Service
          li  
            a.color-first(href="#") Post
          li  
            a.color-first(href="#") Enterprise
          li  
            a.color-first(href="#") Company
          li  
            a.color-first(href="#") Money



block body-footer
  include includes/footer