extends includes/layout

block body-header
  include includes/header

block body-main

  .cabecera_cat
    .cabecera_section
      .category 
        h2 Category
        ul
          li  
            a.color-first(href="#") Service
          li  
            a.color-first(href="#") Post
          li  
            a.color-first(href="#") Enterprise
          li  
            a.color-first(href="#") Company
          li  
            a.color-first(href="#") Money
          li  
            a.color-first(href="#") Other Themes 
          li  
            a.color-first(href="#") IOT Objects
          li  
            a.color-first(href="#") Bitcoin
          li  
            a.color-first(href="#") Stratus Media Solutions
          li  
            a.color-first(href="#") Service
          li  
            a.color-first(href="#") Post
          li  
            a.color-first(href="#") Enterprise
          li  
            a.color-first(href="#") Company
          li  
            a.color-first(href="#") Money
          li  
            a.color-first(href="#") Other Themes 
          li  
            a.color-first(href="#") IOT Objects
          li  
            a.color-first(href="#") Bitcoin
          li  
            a.color-first(href="#") Stratus Media Solutions
          li  
            a.color-first(href="#") Service
          li  
            a.color-first(href="#") Post
          li  
            a.color-first(href="#") Enterprise
          li  
            a.color-first(href="#") Company
          li  
            a.color-first(href="#") Money
          li  
            a.color-first(href="#") Other Themes 
          li  
            a.color-first(href="#") IOT Objects
          li  
            a.color-first(href="#") Bitcoin
          li  
            a.color-first(href="#") Stratus Media Solutions
        .backg
          img(src="https://img.freepik.com/vector-gratis/ilustracion-concepto-tablero-scrum_114360-1591.jpg?w=740&t=st=1654478310~exp=1654478910~hmac=eefe65254f82310d9aa094af830b97872052e921ddc6c01377bb78a1536ab95f" alt="")

block body-footer
  include includes/footer