extends includes/layout

block body-header
  include includes/header

block body-main
  .cabecera_blog
    .cabecera_section
      .cabecera_title.color-title
        h1 Politicas de Condiciones
    aside.cabecera_aside
      .cabecera_aside_img
        img(src="/img/header.svg", alt="", srcset="").cabecera_img
  
  .legal 
    h2 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    p Dolorem reiciendis aspernatur eaque assumenda amet fugit, veniam praesentium illum velit quo aperiam laborum, pariatur expedita impedit error laboriosam consectetur incidunt iste. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid temporibus eum quis animi ratione autem ad non, alias culpa consectetur? Obcaecati, consectetur. Corrupti doloremque et quis molestiae, excepturi ratione eligendi.
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt omnis impedit similique dolorum fugit qui, repellat harum. Culpa odit consectetur sint impedit iste illum ab eligendi sapiente, fuga quod minus.
    p Cum dolor, et voluptates quam sapiente labore itaque possimus ea molestiae eos voluptatibus incidunt enim quisquam repudiandae veritatis deserunt! Nesciunt, iure vero! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi maiores error hic beatae quod vel temporibus reprehenderit similique modi, repellendus delectus ad dicta eligendi nesciunt quidem veritatis minima aliquam? Totam.

    ul 
      li  
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa laboriosam laudantium autem esse, at maiores suscipit dolorem debitis nulla, molestias quisquam sed! Quaerat ducimus optio aspernatur culpa facilis a corporis?
      li  
        p Molestiae autem quod harum sit debitis obcaecati adipisci id ipsam laborum, quas omnis perferendis dicta eveniet nesciunt provident hic et aspernatur quae! 
      li  
        p Culpa laboriosam laudantium autem esse, at maiores suscipit dolorem debitis nulla, molestias quisquam sed! Quaerat ducimus optio aspernatur culpa facilis a corporis?
      li  
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, nostrum neque beatae officia nihil tenetur perferendis, ducimus modi rem non cupiditate exercitationem blanditiis ratione! Aspernatur fugiat praesentium corporis odit eveniet!
      li  
        p Minima iusto excepturi magni? Optio vitae quibusdam quas? Alias, eos odit esse dignissimos autem molestiae temporibus sed hic suscipit doloribus aut quos.
      li  
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa laboriosam laudantium autem esse, at maiores suscipit dolorem debitis nulla, molestias quisquam sed! Quaerat ducimus optio aspernatur culpa facilis a corporis?
      h3 Dolorem reiciendis aspernatur eaque
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro eaque soluta laboriosam, est natus provident. Voluptas nostrum voluptate corporis temporibus sint? Veritatis totam consectetur perferendis minima omnis sunt quam? Voluptatem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem animi delectus aperiam id unde voluptate, fuga libero praesentium. Ducimus, placeat doloremque sequi rerum rem ipsa dolores vel nesciunt quibusdam inventore.
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum assumenda, laboriosam officia rerum eum reiciendis alias sunt perspiciatis dolores earum inventore voluptatibus explicabo optio fugit! Obcaecati illum sapiente fuga assumenda! Lorem ipsum dolor sit amet consectetur adipisicing elit. In temporibus libero nemo recusandae id architecto odio non officia at doloribus, natus laboriosam facilis! Voluptatum nesciunt nihil aliquid. Repellat, velit corporis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque porro, aut doloremque distinctio animi ratione! Perspiciatis odio similique minus dicta unde, quae distinctio, nesciunt reiciendis libero voluptas, commodi dignissimos. Ullam.

      h4 Culpa laboriosam laudantium autem esse
      P Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolore minus provident, vero porro iure! Nam, dolorem. Veritatis, praesentium. Aperiam ut quaerat assumenda nihil cumque doloribus quod deserunt libero in? 
        a(href="#") Aquí 
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero unde excepturi molestiae sequi nisi sunt atque quos fugiat, recusandae dolor alias esse labore natus commodi. In illo error dolore perferendis!
        a(href="#") Aquí
    
block body-footer
  include includes/footer