extends includes/layout

block body-header
  include includes/header

block body-main
  .cabecera_about
        .cabecera_section
          .cabecera_title.color-title
              h1 Cookies
        aside.cabecera_aside
          .cabecera_aside_img
              img(src="/img/header.svg", alt="img", srcset="").cabecera_img
  .legal 
   p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius debitis molestias enim quasi perferendis cum ab obcaecati, nihil saepe exercitationem temporibus in culpa deserunt unde numquam id voluptatum asperiores nam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut aperiam cumque laboriosam iste facilis, natus tempore dolorum cum deserunt inventore! Eos laborum modi laudantium consectetur dignissimos esse rerum blanditiis molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, sunt repudiandae rem, odio illo mollitia vitae nam unde tempora, labore recusandae nisi dolores et veniam. Soluta nisi suscipit neque voluptatibus!
   p Lorem ipsum dolor, sit amet consectetur adipisicing elit. At quae pariatur autem nulla doloribus enim ex reiciendis porro sunt eum. Quam animi qui reiciendis. Fugiat molestias labore id maiores minus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt aspernatur vel explicabo recusandae accusantium facilis eius quaerat ab, iure aut corrupti a eos tempora inventore id? Eos fugiat unde mollitia.
   p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat debitis ut sapiente quas facere quod ducimus illo expedita sed? Minus repellendus, dolorum molestiae quae velit autem cum reiciendis nulla vitae.
   h3 Repellat debitis ut sapiente quas facere quod
   p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore non eius magnam, obcaecati est reprehenderit sunt fugit totam eligendi. Laborum ullam, culpa et error sed esse id nihil soluta atque?
   p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptatibus ea dolores nemo voluptates consequatur doloribus nulla quaerat, mollitia deserunt quo, iste quis et eaque veritatis expedita impedit sed adipisci!
   P Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae possimus ipsam voluptatem labore eum velit. Aliquid deleniti quo consectetur vero, quidem repellendus ab explicabo necessitatibus similique iste sint nulla officia? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut minima dolorum sint iste sapiente! Numquam cumque molestiae reiciendis esse ullam magnam ducimus? Quas tenetur, voluptatibus at consequatur tempora eligendi porro. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur temporibus modi adipisci eligendi ex saepe inventore cumque, nemo, facilis, necessitatibus quos? Reprehenderit repellendus voluptatibus delectus cum tempora sed. Optio, nesciunt?
        
block body-footer
  include includes/footer