extends includes/layout

block body-header
  include includes/header

block body-main
  .cabecera
    .cabecera_section
      .cabecera_title.color-title
        p.font-m.color-first Lorem Ipsum
        h1 Lorem ipsum dolor sit amet
      .cabecera_paragraph.color-letter
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique deleniti dolores, necessitatibus doloribus, alias soluta voluptate assumenda nam qui consequuntur sint vel labore officia explicabo totam quam nemo reiciendis. Optio!
      .cabecera_button.back-color-third
        button.cabecera_button-contact.fontfam3.back-color-first.color-white Quiero mi presupuesto Gratis
    aside.cabecera_aside
      .cabecera_aside_img
        img(src="/img/header.svg", alt="", srcset="").cabecera_img
        
  .main
    .banner.back-color-fondo-first
      img(src="/img/working.svg", alt="")
      .banner_title.color-title
        h2 Lorem ipsum dolor sit, amet consectetur adipisicing elit aspernatur vero assumenda conseq
      .banner_paragraph
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis itaque quas aut! Tempora sequi voluptates non eveniet libero hic suscipit quibusdam nulla, inventore, adipisci quis doloribus, minima deleniti obcaecati tempore? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ea eius provident iure qui tenetur voluptatibus asperiores nemo quia, inventore illo officiis tempore, ducimus voluptatum rerum est explicabo repellendus magnam.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, beatae nihil deleniti illo nobis doloribus tenetur enim expedita ea necessitatibus odio officiis nulla culpa voluptas. Nostrum labore suscipit beatae cumque!
    .banner_doble
      .banner_doble-left
        .start
          img(src="/img/working.svg", alt="")
      .banner_doble-right
        .end
          img(src="/img/working.svg", alt="")
      .banner_title.color-title
        h2 Lorem ipsum dolor sit, amet consectetur adipisicing elit aspernatur vero assumenda conseq
      .banner_paragraph
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis itaque quas aut! Tempora sequi voluptates non eveniet libero hic suscipit quibusdam nulla, inventore, adipisci quis doloribus, minima deleniti obcaecati tempore? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ea eius provident iure qui tenetur voluptatibus asperiores nemo quia, inventore illo officiis tempore, ducimus voluptatum rerum est explicabo repellendus magnam.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, beatae nihil deleniti illo nobis doloribus tenetur enim expedita ea necessitatibus odio officiis nulla culpa voluptas. Nostrum labore suscipit beatae cumque!
      

block body-footer
  include includes/footer