extends includes/layout

block body-header
  include includes/header

block body-main

  //-  Cabecera
  .cabecera
    .cabecera_section
      .cabecera_title.color-title
        p.font-m.color-first Lorem Ipsum
        h1 Lorem ipsum dolor sit amet
      .cabecera_paragraph.color-letter
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique deleniti dolores, necessitatibus doloribus, alias soluta voluptate assumenda nam qui consequuntur sint vel labore officia explicabo totam quam nemo reiciendis. Optio!
      .cabecera_button.back-color-third
        button.cabecera_button-contact.fontfam3.back-color-first.color-white Quiero mi presupuesto Gratis
    aside.cabecera_aside
      .cabecera_aside_img
        img(src="/img/header.svg", alt="", srcset="").cabecera_img
        

  //-  Main
  .main
    //-  Banner de texto y titulo + fondo imagen
    .banner.back-color-fondo-first
      img(src="/img/working.svg", alt="")
      .banner_title.color-title
        h2 Lorem ipsum dolor sit, amet consectetur adipisicing elit aspernatur vero assumenda conseq
      .banner_paragraph
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis itaque quas aut! Tempora sequi voluptates non eveniet libero hic suscipit quibusdam nulla, inventore, adipisci quis doloribus, minima deleniti obcaecati tempore? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ea eius provident iure qui tenetur voluptatibus asperiores nemo quia, inventore illo officiis tempore, ducimus voluptatum rerum est explicabo repellendus magnam.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, beatae nihil deleniti illo nobis doloribus tenetur enim expedita ea necessitatibus odio officiis nulla culpa voluptas. Nostrum labore suscipit beatae cumque!
    
    //-  Banner Services
    .banner_cards.back-color-white
      h2 Lorem ipsum dolor sit, amet consectetur adipisicing elit aspernatur vero assumenda conseq
      p   
      .card_box 
        .card_img
          img(src="/img/term_sheet.svg", alt="", srcset="")
          .card_info Lorem ipsum dolor sit amet,  sdfad f ODFD Klosk sdfad f ODFD Klosk Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet,consectetur adipisicing elit. Officia sapiente at deserunt quasi laborum similique alias modi nisi qui et doloribus ex illum quisquam, expedita laboriosam tempora, consequuntur dolor asperiores!
        .card_text.color-first
          .card_title Title service number one first
          .card_icon.back-color-first
            .fa-solid.fa-arrow-right.fa-xl
      .card_box 
        .card_img
          img(src="/img/empty_street.svg", alt="", srcset="")
          .card_info Lorem ipsum dolor sit amet,  sdfad f ODFD Klosk sdfad f ODFD Klosk Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet,consectetur adipisicing elit. Officia sapiente at deserunt quasi laborum similique alias modi nisi qui et doloribus ex illum quisquam, expedita laboriosam tempora, consequuntur dolor asperiores!
        .card_text.color-first
          .card_title Title service number one first
          .card_icon.back-color-first
            .fa-solid.fa-arrow-right.fa-xl
      .card_box 
        .card_img
          img(src="/img/business_chat.svg", alt="", srcset="")
          .card_info Lorem ipsum dolor sit amet,  sdfad f ODFD Klosk sdfad f ODFD Klosk Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet,consectetur adipisicing elit. Officia sapiente at deserunt quasi laborum similique alias modi nisi qui et doloribus ex illum quisquam, expedita laboriosam tempora, consequuntur dolor asperiores!
        .card_text.color-first
          .card_title Title service number one first
          .card_icon.back-color-first
            .fa-solid.fa-arrow-right.fa-xl
      .card_box 
        .card_img
          img(src="/img/clean_up.svg", alt="", srcset="")
          .card_info Lorem ipsum dolor sit amet,  sdfad f ODFD Klosk sdfad f ODFD Klosk Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet,consectetur adipisicing elit. Officia sapiente at deserunt quasi laborum similique alias modi nisi qui et doloribus ex illum quisquam, expedita laboriosam tempora, consequuntur dolor asperiores!
        .card_text.color-first
          .card_title Title service number one first
          .card_icon.back-color-first
            .fa-solid.fa-arrow-right.fa-xl
      .card_box 
        .card_img
          img(src="/img/cookie_love.svg", alt="", srcset="")
          .card_info Lorem ipsum dolor sit amet,  sdfad f ODFD Klosk sdfad f ODFD Klosk Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet,consectetur adipisicing elit. Officia sapiente at deserunt quasi laborum similique alias modi nisi qui et doloribus ex illum quisquam, expedita laboriosam tempora, consequuntur dolor asperiores!
        .card_text.color-first
          .card_title Title service number one first
          .card_icon.back-color-first
            .fa-solid.fa-arrow-right.fa-xl
      .card_box 
        .card_img
          img(src="/img/design_inspiration.svg", alt="", srcset="")
          .card_info Lorem ipsum dolor sit amet,  sdfad f ODFD Klosk sdfad f ODFD Klosk Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet,consectetur adipisicing elit. Officia sapiente at deserunt quasi laborum similique alias modi nisi qui et doloribus ex illum quisquam, expedita laboriosam tempora, consequuntur dolor asperiores!
        .card_text.color-first
          .card_title Title service number one first
          .card_icon.back-color-first
            .fa-solid.fa-arrow-right.fa-xl

    //-  Banner Estadística de la empresa
    .banner_counter.back-color-white
      .counter_box
        .counter_icon.d-flex.align-ic.justify-c
          .fa-solid.fa-users-gear.fa-2xl
        h2.counter_number.d-flex.align-ic.justify-c.color-first 9.999+
        .counter_text.d-flex.align-ic.justify-c.color-title Workers
      
      .counter_box
        .counter_icon.d-flex.align-ic.justify-c
          .fa-solid.fa-gears.fa-2xl
        h2.counter_number.d-flex.align-ic.justify-c.color-first 30+
        .counter_text.d-flex.align-ic.justify-c.color-title Solutions
      
      .counter_box
        .counter_icon.d-flex.align-ic.justify-c
          .fa-solid.fa-flag-checkered.fa-2xl
        h2.counter_number.d-flex.align-ic.justify-c.color-first 9.999+
        .counter_text.d-flex.align-ic.justify-c.color-title Project Completed
      
      .counter_box
        .counter_icon.d-flex.align-ic.justify-c
          .fa-solid.fa-business-time.fa-2xl
        h2.counter_number.d-flex.align-ic.justify-c.color-first 9.999+
        .counter_text.d-flex.align-ic.justify-c.color-title Years of experience
    

    //-  Banner de texto y titulo + doble imagen de fondo
    .banner_doble.back-color-fondo-fourth
      .banner_doble-left
        img(src="/img/project_complete.svg", alt="")
      .banner_doble-right
        img(src="/img/pie_graph.svg", alt="")
      .banner_paragraph
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis itaque quas aut! Tempora sequi voluptates non eveniet libero hic suscipit quibusdam nulla, inventore, adipisci quis doloribus, minima deleniti obcaecati tempore? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ea eius provident iure qui tenetur voluptatibus asperiores nemo quia, inventore illo officiis tempore, ducimus voluptatum rerum est explicabo repellendus magnam.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, beatae nihil deleniti illo nobis doloribus tenetur enim expedita ea necessitatibus odio officiis nulla culpa voluptas. Nostrum labore suscipit beatae cumque!
    

    //- Banner Calidad
    .banner_calidad
      h2.color-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni repellat, aspernatur nisi repellendus, excepturi deserunt tenetur ipsa 
      .calidad_box
        .calidad_icon.color-first
          .fa-solid.fa-building-shield.fa-2x
        .calidad_text
          h2.color-title Calidad
          .color-letter  Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ipsum quo commodi, sequi vel quia necessitatibus, molestiae ab hic, quasi obcaecati animi fugi.

      .calidad_box
        .calidad_icon.color-first
          .fa-solid.fa-bell-concierge.fa-2x
        .calidad_text
          h2.color-title Calidad
          .color-letter  Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ipsum quo commodi, sequi vel quia necessitatibus, molestiae ab hic, quasi obcaecati animi fugiat blanditiis. Ea earum delectus eius voluptatem nulla!

      .calidad_box
        .calidad_icon.color-first
          .fa-solid.fa-users.fa-2x
        .calidad_text
          h2.color-title Atención al cliente
          .color-letter  lmolestiae ab hic, quasi obcaecati animi fugiat blanditiis. Ea earum delectus eius voluptatem nulla!

      
      .calidad_box
        .calidad_icon.color-first
          .fa-solid.fa-hands-holding-child.fa-2x
        .calidad_text
          h2.color-title Consultoría
          .color-letter  lmolestiae ab hic, quasi obcaecati animi fugiat blanditiis. Ea earum delectus eius voluptatem nulla!
    
    //-  Banner testiomonials
    .banner_testimonial.back-color-fondo-first

      .banner_box
        .img-testimonial 
          img.testimonial(src="/img/doge.svg", alt="")
        .text-testimonial
          h3.font-l David Burbano Guamanga
          .fa-solid.fa-quote-left.color-first
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem illo esse facilis minima cupiditate sed quibusdam inventore voluptates quasi velit! Inventore veniam iusto aperiam enim veritatis distinctio esse odit officia.
          .fa-solid.fa-quote-right.color-first
      
      .banner_box2
        .img-testimonial 
          img.testimonial(src="/img/usertestimonial.svg", alt="")
        .text-testimonial
          h3.font-l Diego Rivera
          .fa-solid.fa-quote-left.color-first
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem illo esse facilis minima cupiditate sed quibusdam inventore voluptates quasi velit! Inventore veniam iusto aperiam enim veritatis distinctio esse odit officia.
          .fa-solid.fa-quote-right.color-first

      .banner_box
        .img-testimonial 
          img.testimonial(src="/img/usertestimonial2.svg", alt="")
        .text-testimonial
          h3.font-l Vanessa Londoño
          .fa-solid.fa-quote-left.color-first
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem illo esse facilis minima cupiditate sed quibusdam inventore voluptates quasi velit! Inventore veniam iusto aperiam enim veritatis distinctio esse odit officia.
          .fa-solid.fa-quote-right.color-first


    //- Banner marcas

    .banner_marcas 
      .marca_container 
        img(src="https://img.freepik.com/psd-gratis/ropa-maqueta-logotipo-bordado-textura_145275-384.jpg?w=740&t=st=1654061729~exp=1654062329~hmac=b2c73d637a0fbe27dad2f92ddb6f15a96f3d8f415c560576b8d431f696d76c5f", alt="")
      .marca_container 
        img(src="https://img.freepik.com/psd-gratis/logotipo-empresa-negro-pared_145275-163.jpg?w=740&t=st=1654061736~exp=1654062336~hmac=fed119f6ffb691fa7558c56c1eb74f91ba54d6c456e517409681c5c71fabd480", alt="")
      .marca_container 
        img(src="https://img.freepik.com/psd-gratis/plantilla-psd-logotipo-empresa-estudio-creativo-textura-acero_53876-123233.jpg?w=740&t=st=1654061746~exp=1654062346~hmac=042e34147ea166dd382f4c7d8bf70e01f368a978c8adbd6b663fb757049f8ffb", alt="")
      .marca_container 
        img(src="https://img.freepik.com/psd-gratis/maqueta-logotipo-grabado-papel-blanco_1389-1289.jpg?w=740&t=st=1654061753~exp=1654062353~hmac=7576134acc6292e38f501431fedadfa42dff80c7b20223f737bef76c59036a22", alt="")
    

    //- Baner texto - imagen + fodo con doble imagen
    .banner_tex_img.back-color-fondo-fourth 
      .banner_doble-left
        img(src="/img/business_chat.svg", alt="")
      .banner_doble-right
        img(src="/img/empty_street.svg", alt="")
      .banner_text_box 
        .banner_title.color-title.font-xs
          h3 Get Startet available services
          h2 Lorem ipsum dolor sit mico pland
        .banner_paragraph
          P Lorem ipsum dolor, sit amet consectetur adipisicing elit Quasi.Nostrum labore suscipit beatae cumque!
          a.enlace(href="#") Go to Lorem ipsum dolor 
            .fa-solid.fa-arrow-right 
      .banner_img_box 
        .banner_img 
          img(src="/img/people.svg", alt="")

block body-footer
  include includes/footer