extends includes/layout

block body-header
  include includes/header

block body-main
  .cabecera.back-color-white
    .cabecera_section
      .cabecera_title.color-first
        h2 Grow Plant For A Better Life
      .cabecera_paragraph.color-letter
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique deleniti dolores, necessitatibus doloribus, alias soluta voluptate assumenda nam qui consequuntur sint vel labore officia explicabo totam quam nemo reiciendis. Optio!
      .cabecera_button
        input#(type="button", name="") Quiero asesor
        
    aside.cabecera_aside 
      .cabecera_img-style
  .main a



block body-footer
  include includes/footer