extends includes/layout

block body-header
  include includes/header

block body-main
  .cabecera_about
        .cabecera_section
          .cabecera_title.color-title
              h1 Cookies
        aside.cabecera_aside
          .cabecera_aside_img
              img(src="/img/header.svg", alt="img", srcset="").cabecera_img
  .legal 

    h2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam quos vitae adipisci numquam quam? Libero, eum.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam illum dignissimos porro sed, iste perspiciatis earum pariatur facilis, ab dolorem inventore itaque et? Magnam aspernatur obcaecati consequatur hic, minima rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quae cupiditate temporibus, magni, ipsum aut voluptas neque totam placeat consectetur obcaecati aliquam? Autem assumenda error voluptates laborum magnam officia minima!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem culpa totam nobis dignissimos, quas modi est dolorum, hic accusamus itaque, minima quibusdam suscipit a reiciendis voluptas sed excepturi neque consectetur!
    h3 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, vel voluptas. 
    ul 
      li 
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui quo sint dolorem non deserunt quibusdam amet aperiam nihil nulla, accusamus obcaecati voluptate? Temporibus unde rem voluptate doloribus enim autem totam!
      li 
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ab inventore incidunt nisi. Consectetur assumenda, enim illo autem sit odio pariatur repellat perspiciatis quas ducimus tenetur eaque facilis. Velit, repellendus.
      li
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere in, libero architecto nesciunt quasi animi ipsam? Facere porro aspernatur, doloremque accusamus esse consectetur error non, unde praesentium earum deserunt harum.
      li 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo facere delectus molestiae praesentium, iste provident odit ab neque obcaecati adipisci possimus minima iure architecto. Labore perspiciatis sit ipsam? Nostrum, quam?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet officiis optio tempora distinctio. Nihil inventore voluptate deleniti esse, dolore suscipit? Consequatur illum cumque qui officia impedit nam provident, cum tempore.
    
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, aspernatur saepe magnam recusandae iste neque, sunt ex beatae, aliquid aut quasi provident totam id architecto minima natus. Magni, hic quos.
    
    h3 Nam architecto cupiditate asperiores sapiente
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis consectetur dignissimos, velit asperiores dolores iure nobis veritatis modi, blanditiis, optio vel fuga veniam iusto voluptatibus cumque? Vitae aperiam consectetur laudantium!
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab totam impedit iste ipsum maiores qui dolorem quam consequatur fuga repellat officia, eius enim dolorum, possimus voluptate mollitia! Iure, perspiciatis saepe. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias architecto, at libero magnam reiciendis minus impedit nam placeat facilis totam eum quisquam expedita cupiditate culpa, dolorem, alias quam nisi neque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus voluptas in incidunt temporibus alias delectus enim, neque aliquid excepturi, at accusantium, expedita exercitationem molestias itaque consectetur corrupti harum culpa est!
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates sunt quod dolor possimus commodi, illum quisquam ab debitis dicta soluta voluptatibus veniam vero. Reprehenderit ut unde maiores amet, enim minus?
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis distinctio ratione omnis officiis, amet sunt voluptatibus. Adipisci illum fugiat praesentium, magni voluptas maiores culpa vero asperiores ad! Id, deleniti quo.

    h3 Corporis distinctio ratione omnis officiis amet sunt.
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates sunt quod dolor possimus commodi, illum quisquam ab debitis dicta soluta voluptatibus veniam vero. Reprehenderit ut unde maiores amet, enim minus?
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis distinctio ratione omnis officiis, amet sunt voluptatibus. Adipisci illum fugiat praesentium, magni voluptas maiores culpa vero asperiores ad! Id, deleniti quo.

      
        
block body-footer
  include includes/footer