extends includes/layout

block body-header
  include includes/header

block body-main

  .cabecera_post
    .cabecera_section
      .cabecera_title.color-title
        h1 Title Post Lorem voluptatibus dolore.
        .post_info 
          .post_category Cat
            p Category
          .post_tag Tag
            p Tags
            p Tags
            p Tags
          .post_date  6 Abril
          .post_autor David Burbano
    .cabecera_aside
      .cabecera_aside_img
        img(src="https://img.freepik.com/foto-gratis/angulo-vista-rascacielos_1359-1105.jpg?t=st=1654143552~exp=1654144152~hmac=5012d2716951ed0f9c19fd9ade72e7fde438a2c88fb5e17030622612ae79e320&w=740", alt="", srcset="").cabecera_img
  
  .post
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus pariatur laborum rem nihil, ut cum repellat a voluptatem illum saepe earum cumque magnam quos asperiores vero in quis architecto.
    h2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus dolorum.
    
    
        
block body-footer
  include includes/footer