extends includes/layout

block body-header
  include includes/header

block body-main

  .cabecera_post
    .cabecera_section
      .cabecera_title.color-title
        h1 Title Post Lorem voluptatibus dolore.
        .post_info 
          .post_category Cat
            p Category
          .post_tag Tag
            p Tags
            p Tags
            p Tags
          .post_date  6 Abril
          .post_autor David Burbano
    .cabecera_aside
      .cabecera_aside_img
        img(src="https://img.freepik.com/foto-gratis/angulo-vista-rascacielos_1359-1105.jpg?t=st=1654143552~exp=1654144152~hmac=5012d2716951ed0f9c19fd9ade72e7fde438a2c88fb5e17030622612ae79e320&w=740", alt="", srcset="").cabecera_img
  
  .post
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus pariatur laborum rem nihil, ut cum repellat a voluptatem illum saepe earum cumque magnam quos asperiores vero in quis architecto. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores minus necessitatibus delectus autem eveniet aut mollitia, cupiditate fugit quia, quas a! Assumenda sed, temporibus eos impedit omnis minus autem. Maiores?
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo cumque, possimus itaque est voluptatem nulla tempora molestiae natus deleniti soluta iste libero quibusdam esse. Nemo veritatis repudiandae magni nulla excepturi?
    img(src="https://img.freepik.com/foto-gratis/colegas-que-trabajan-juntos-usando-computadora-portatil-documentos_23-2149330952.jpg?w=740&t=st=1654200838~exp=1654201438~hmac=0fd90f3278ff07a5cfefabf8346e75a2143f732edf8fd21efcf0eb810e7b14e7", alt="", srcset="")
    h2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus dolorum.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi soluta aliquam officiis animi. Asperiores dolore dolorum odit aspernatur eveniet. Maxime ab unde repellat labore tempore quod perspiciatis corporis inventore dolores.
    ul 
      li 
        p Nemo veritatis repudiandae magni nulla excepturi?
      li 
        p Tempora molestiae natus deleniti soluta?
      li 
        p Quo cumque, possimus itaque est voluptatem?
      li 
        p Dolore dolorum odit aspernatur eveniet?
      li 
        a(href="#") Dolore dolorum odit aspernatur eveniet?
      li 
        a(href="#") Dolorum odit aspernatur eveniet?
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus pariatur laborum rem nihil, ut cum repellat a voluptatem illum saepe earum cumque magnam quos asperiores vero in quis architecto. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores minus necessitatibus delectus autem eveniet aut mollitia, cupiditate fugit quia, quas a! Assumenda sed, temporibus eos impedit omnis minus autem. Maiores?
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo cumque, possimus itaque est voluptatem nulla tempora molestiae natus deleniti soluta iste libero quibusdam esse. Nemo veritatis repudiandae magni nulla excepturi?
    h3 H3 Nemo veritatis repudiandae magni nulla excepturi
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt architecto impedit praesentium magnam! Sunt voluptate quaerat, quo inventore cumque sed hic sit voluptates! Distinctio nemo, magnam ab placeat perspiciatis odio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, praesentium reiciendis! Assumenda alias velit optio suscipit vero temporibus ab. Nam amet voluptatem facere suscipit consequatur reiciendis saepe minima voluptatibus distinctio?
    h4 H4 Lorem consectetur ipsum dolor sit amet consectetur 
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae cumque porro sapiente illum dolorem fugit unde aspernatur illo optio, perferendis fuga nihil, commodi in, quaerat deserunt corrupti nulla officia accusantium?

block body-footer
  include includes/footer