extends includes/layout

block body-header
  include includes/header

block body-main

  .cabecera_about
    .cabecera_section
      .cabecera_title.color-title
        h1 Políticas de privacidad
    aside.cabecera_aside
      .cabecera_aside_img
        img(src="/img/header.svg" alt="img" srcset="").cabecera_img
  .legal 
    h2 At quae pariatur autem nulla doloribus
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius debitis molestias enim quasi perferendis cum ab obcaecati, nihil saepe exercitationem temporibus in culpa deserunt unde numquam id voluptatum asperiores nam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut aperiam cumque laboriosam iste facilis, natus tempore dolorum cum deserunt inventore! Eos laborum modi laudantium consectetur dignissimos esse rerum blanditiis molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, sunt repudiandae rem, odio illo mollitia vitae nam unde tempora, labore recusandae nisi dolores et veniam. Soluta nisi suscipit neque voluptatibus!
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. At quae pariatur autem nulla doloribus enim ex reiciendis porro sunt eum. Quam animi qui reiciendis. Fugiat molestias labore id maiores minus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt aspernatur vel explicabo recusandae accusantium facilis eius quaerat ab, iure aut corrupti a eos tempora inventore id? Eos fugiat unde mollitia.
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam sunt architecto minima, dolore impedit maiores perspiciatis sequi ipsa, optio ea, molestias reiciendis? In dolorem voluptatibus fuga enim atque sint quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, consectetur quas! Repudiandae ipsam, at aliquam dignissimos maxime, architecto quos laborum aliquid quae porro dicta eum sapiente totam qui incidunt nemo.
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam blanditiis quidem eius iste cum eligendi doloribus molestias culpa ipsa commodi temporibus accusantium necessitatibus, rem dolorem, aliquam placeat officia libero odio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius asperiores repudiandae similique iste! Expedita consectetur eveniet harum nostrum sit totam dolor eos in placeat obcaecati ducimus, aut, magni eligendi labore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque mollitia, adipisci asperiores reprehenderit cupiditate aut quia quis voluptate, id labore veritatis tenetur soluta debitis repellat ratione reiciendis culpa dolor accusamus?

    ul 
      li 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis magni nostrum nemo quibusdam illo odit, ab obcaecati praesentium incidunt, aspernatur doloribus blanditiis. Nihil libero a laboriosam sunt, eos minima iure?
      li 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati enim, nobis sint, officiis id repellat quidem laborum provident ut ad modi optio, tempora hic quis illum? Incidunt tempore veritatis nisi.
      li 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde animi aliquid hic eum distinctio, voluptas officia esse, alias, quas in dignissimos fugit deleniti eveniet rem soluta dolorum commodi quae. Pariatur?
      li 
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid asperiores nihil sint dolores quos ab magni minus distinctio neque perspiciatis? Quod iure minus amet fugiat consequatur saepe, consequuntur ipsum eos!
      li 
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem, sapiente earum. Delectus consequuntur, suscipit qui debitis molestiae, dolor laborum odio similique itaque quos temporibus sapiente voluptate reprehenderit! A, impedit nisi?
      li 
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod voluptatibus minima accusantium laboriosam. Amet, fugit debitis. Voluptatum a quae, ullam magni aliquid eius porro tempore similique corporis laborum vitae vel?
      li 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati enim, nobis sint, officiis id repellat quidem laborum provident ut ad modi optio, tempora hic quis illum? Incidunt tempore veritatis nisi.
      li 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde animi aliquid hic eum distinctio, voluptas officia esse, alias, quas in dignissimos fugit deleniti eveniet rem soluta dolorum commodi quae. Pariatur?
      
block body-footer
  include includes/footer