extends includes/layout

block body-header
  include includes/header

block body-main
  .cabecera_about
    .cabecera_section
      .cabecera_title.color-white
        h1 Service Lorem ipsum dolor sit amet consectetur adipisicing elit.
    aside.cabecera_aside
      .cabecera_aside_img
        img(src="https://img.freepik.com/foto-gratis/equipo-atencion-al-cliente-lugar-trabajo_74855-4034.jpg?t=st=1654454505~exp=1654455105~hmac=e54288d7fa665a0b8e4921dc429014782dc3bfbb85f939d8c5788377c65afa9d&w=740" alt="img" srcset="").cabecera_img

  .service 
    .service_banner 
      .service_section
        .service_circles
          .circle
            .cir
          .circle
            .cir.circle_right
        .service_img
          img(src="https://img.freepik.com/vector-gratis/chica-adolescente-plana-feliz-auriculares-sentado-casa-silla-puf-usando-telefono-inteligente-educacion-linea-mujer-relajarse-escuchar-musica-podcast-audio-radio-o-audiolibro-telefono-movil_88138-540.jpg?w=740&t=st=1654448193~exp=1654448793~hmac=9ce8fe81823e52c6c26e4bc2c8e0afe8f33c77721ea7027a94aad82fd5322392" alt="")
      .service_content
        p.subtitle.font-xs.color-first - Deserunt cumque saepe recusandae
        h2.fontfam4 Aliquam ipsum dolor sit amet consectetura
        p.subtitle.font-s.color-first Consectetur adipisicing elit dolores
        p.font-xs Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi aspernatur corporis adipisci nemo mollitia unde voluptatum accusamus cumque a, nostrum sapiente fugiat eius? Error veritatis, et velit ratione delectus at.


    .banner_calidad
      h2.color-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni repellat, aspernatur nisi repellendus, excepturi deserunt tenetur ipsa 
      .calidad_box
        .calidad_icon.color-first
          .fa-solid.fa-building-shield.fa-2x
        .calidad_text
          h2.color-title Calidad
          .color-letter  Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ipsum quo commodi, sequi vel quia necessitatibus, molestiae ab hic, quasi obcaecati animi fugi.

      .calidad_box
        .calidad_icon.color-first
          .fa-solid.fa-bell-concierge.fa-2x
        .calidad_text
          h2.color-title Servicio a medida
          .color-letter  Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ipsum quo commodi, sequi vel quia necessitatibus, molestiae ab hic, quasi obcaecati animi fugiat blanditiis. Ea earum delectus eius voluptatem nulla!

      .calidad_box
        .calidad_icon.color-first
          .fa-solid.fa-users.fa-2x
        .calidad_text
          h2.color-title Atención al cliente
          .color-letter  lmolestiae ab hic, quasi obcaecati animi fugiat blanditiis. Ea earum delectus eius voluptatem nulla!

      .calidad_box
        .calidad_icon.color-first
          .fa-solid.fa-clock.fa-2x
        .calidad_text
          h2.color-title Siempre A tiempo
          .color-letter  lmolestiae ab hic, quasi obcaecati animi fugiat blanditiis. Ea earum delectus eius voluptatem nulla!

      .calidad_box
        .calidad_icon.color-first
          .fa-solid.fa-trophy.fa-2x
        .calidad_text
          h2.color-title Pioneros en Lorem Ipsum
          .color-letter  lmolestiae ab hic, quasi obcaecati animi fugiat blanditiis. Ea earum delectus eius voluptatem nulla!

      .calidad_box
        .calidad_icon.color-first
          .fa-solid.fa-hands-holding-child.fa-2x
        .calidad_text
          h2.color-title Consultoría
          .color-letter  lmolestiae ab hic, quasi obcaecati animi fugiat blanditiis. Ea earum delectus eius voluptatem nulla!

    .service_banner.reverse
      .service_section
        .service_circles
          .circle
            .cir
          .circle
            .cir.circle_right
        .service_img
          img(src="https://img.freepik.com/vector-gratis/vector-personas-creativas_529539-162.jpg?w=740&t=st=1654451317~exp=1654451917~hmac=f512ad723b9445fdae56da0d990d3fd765f1dd4b24b2e9b716bec263762240f0" alt="")
      .service_content
        h2.fontfam4.color-first Aliquam ipsum dolor sit amet consectetura
        p.font-xs Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt repellat cumque deleniti magni amet? Aut, alias hic consequatur deleniti repellendus non impedit dicta nulla, nostrum dolores repellat perspiciatis, architecto error? Nisi aspernatur corporis adipisci nemo mollitia unde voluptatum accusamus cumque a, nostrum sapiente fugiat eius? Error veritatis, et velit ratione delectus at.

    .service_banner.d-block 
      .service_text
        h2.fontfam4.color-title Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti ut minima ratione ex placeat modi, accusantium non, nihil asperiores eaque obcaecati, expedita nesciunt repellat consequatur veritatis eligendi optio tempore sed. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est quibusdam dignissimos, provident cum architecto dolorem, ut culpa molestiae sapiente autem a, vitae ipsa! Animi, nostrum id maxime repellat neque itaque.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quaerat expedita dolores libero obcaecati iste, dolore aperiam facere dignissimos nemo eveniet quasi harum placeat officiis veritatis odio voluptas commodi laboriosam!
    
    .banner_doble.back-color-fondo-first
      .banner_doble-left
        img(src="/img/moving_forward.svg" alt="")
      .banner_doble-right
        img(src="/img/pie_graph.svg" alt="")
      .banner_paragraph
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis itaque quas aut! Tempora sequi voluptates non eveniet libero hic suscipit quibusdam nulla, inventore, adipisci quis doloribus, minima deleniti obcaecati tempore? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ea eius provident iure qui tenetur voluptatibus asperiores nemo quia, inventore illo officiis tempore, ducimus voluptatum rerum est explicabo repellendus magnam.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, beatae nihil deleniti illo nobis doloribus tenetur enim expedita ea necessitatibus odio officiis nulla culpa voluptas. Nostrum labore suscipit beatae cumque!

block body-footer
  include includes/footer