@import 'style.styl';

header
    position relative
    width: 100%
    .bg-color
        border 0px
        background-color: transparent
        .navbar
            position: fixed
            width 100%
            transition 0.4s
            padding: 10px 0px
            height: fit-content
            @media tablet
                padding: 20px 0px
        .menu
            width: 100%
            display flex
            justify-content: right 
            align-items: center
            height: 30px
            img
                margin-top: auto
                margin-bottom: auto
                height: 100%
                width: fit-content
            @media tablet
                display none
            img
                margin-right: 20px
        .navbar-fixed-top
            background: white
            position: fixed
            z-index: 1000
            width: 100%
            transition: 1s
            -webkit-box-shadow: 0px 3px 5px -1px hsla(0, 0%, 0%, 0.2);
            @media tablet
                padding: 10px 0px
        .navbar-brand
            position: absolute
            top 50%
            transform: translate(15%, -50%);
            height:40px
            width: 150px
            z-index 100
            @media tablet 
                height:65px
                width: 150px
                margin-top: auto
                margin-bottom: auto
            img
                height: 100%
                object-fit: cover
                margin auto
        .navbar-nav
            width 100%
            display: none
            position: absolute
            top: 0
            opacity: 0
            margin-top 49px
            z-index 1000
            transition 1s
            @media tablet
                display: flex
                opacity: 1
                position relative
                margin-top 0px
                

            justify-content: center
            align-items: center
            @media tablet
                display flex
            li
                border-bottom:  1px solid color-letter
                list-style: none
                background: white
                @media tablet
                    background: transparent
                    border none

                a
                    margin: 0px 20px;
                    font-size 13px
                    line-height 50px
                    font-weight 600
                    text-transform uppercase
                    text-decoration: none
                    color: rgba(0, 0, 0, 0.5);
                    background-color: transparent;
                    transition: all 0.3s ease;
                    position: relative;
                    font-weight: 600;
                    display: block
                a:hover
                    color: color-first
                
