@import 'style.styl';

header
    position relative
    .bg-color
        border 0px
        background-color: transparent
        transition all 0.3s
        .navbar-brand
            height:65px
            width: 150px
            margin-top: auto
            margin-bottom: auto
            img
                height: 100%
                object-fit: cover
                margin auto
        .navbar-nav
            padding: 15px 0px
            width 100%
            display: flex
            justify-content: center
            align-items: center
            li
                list-style: none
                a
                    padding: 0px 20px;
                    font-size 13px
                    line-height 54px
                    font-weight 600
                    text-transform uppercase
                    text-decoration: none
                    color: #000000b3;
                    background-color: transparent;
                    transition: all 0.3s ease;
                    position: relative;
                    font-weight: 600;
                a:hover
                    color: color-first
                
