font-xs = 0.8em
font-s = 1em
font-m = 1.2em
font-l = 1.4em
font-xl = 2em
font-xxl = 2.5em

fontfam1 = 'Josefin Sans', sans-serif;
fontfam2 = 'Aclonica', sans-serif;
fontfam3 = "Poppins", sans-serif;

color-white = #ffffff
color-black = #000000
color-letter = hsla(0, 0%, 0%, 0.726)
color-title = rgba(10, 2, 80, 0.815)
color-first = #00BFA6
color-second = #d64961
color-third = #9626ca
color-fondo-first   = rgba(0, 191, 166, 0.05)
color-fondo-second   = rgba(214, 73, 96, 0.05)
color-fondo-third   = rgba(150, 38, 202, 0.05)
color-fondo-fourth   = rgba(78, 78, 78, 0.05)


movil-xs = 'screen and (min-width: 375px)'
movil = 'screen and (min-width: 576px)'
tablet = 'screen and (min-width: 768px)'
escritorio-s = 'screen and (min-width: 992px)'
escritorio-m = 'screen and (min-width: 1200px)'
escritorio-l = 'screen and (min-width: 1400px)'

*
  margin 0px
  padding 0px
  -webkit-box-sizing border-box!important
  -moz-box-sizing border-box!important
  box-sizing border-box!important

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

transform()
  vendor('transform', arguments)  

transition()
  vendor('transition', arguments)

//Colores

.color-white
  color color-white
.color-black
  color color-black
.color-letter
  color color-letter
.color-title
  color color-title
.color-first
  color color-first
.color-second
  color color-second
.color-third
  color color-third
.color-fondo-first
  color color-fondo-first
.color-fondo-second 
  color color-fondo-second
.color-fondo-third
  color color-fondo-third
.color-fondo-fourth
  color color-fondo-fourth


.border-color-white
  border-color color-white
.border-color-black
  border-color color-black
.border-color-letter
  border-color color-letter
.border-color-first
  border-color color-first
.border-color-second
  border-color color-second
.border-color-third
  border-color color-third


.back-color-white
  background-color color-white
.back-color-black
  background-color color-black
.back-color-letter
  background-color color-letter
.back-color-title
  background-color color-title
.back-color-first
  background-color color-first
.back-color-second
  background-color color-second
.back-color-third
  background-color color-third
.back-color-fondo-first
  background-color color-fondo-first
.back-color-fondo-second 
  background-color color-fondo-second
.back-color-fondo-third
  background-color color-fondo-third
.back-color-fondo-fourth
  background-color color-fondo-fourth

//Estilos generales

.border-s
  border-width 1px
  border solid

.border-m
  border-width 2px
  border solid

.border-l
  border-width 3px
  border solid

//Letras

.fontfam1
  font-family fontfam1
.fontfam2
  font-family fontfam2
.fontfam3
  font-family fontfam3

.font-xs
  font-size font-xs
.font-s
  font-size font-s
.font-m
  font-size font-m
.font-l
  font-size font-l
.font-xl
  font-size font-xl
.font-xxl
  font-size font-xxl


//Estilos

body
  color color-letter
  font-family fontfam3
  font-size font-l
  
.container
  padding 0 20px
  max-width 1024px
  margin auto

.alto
  height 80px
  background color-white
  @media tablet
    height 160px


.d-flex
  transition 1s
  display: flex
.d-block
  transition 1s
  display: block
.d-none
  transition 1s
  display: none

.align-ic
  align-items: center
.justify-c
  justify-content: center

// INDEX

.cabecera
  height: 100vh
  width: 100%

.cabecera_section
  background-color:rgba(255, 255, 255, 0.7)
  width: 100%
  height: 100vh !important
  padding: 70px 20px
  display: flex
  flex-direction: column
  @media movil-xs
    padding: 70px 40px
  @media tablet
    padding-top 90px
    padding-left 70px 
    width: 50%
  
.cabecera_paragraph
  margin-bottom:20px
  margin-top: 15px
  -webkit-text-stroke: 0.5px color-letter;
  p
    font-size: font-xs
.cabecera_title
  margin-bottom:20px
  margin-top: auto
  font-size 20px
  @media movil-xs
    font-size 24px

  p
    font-weight: 600
    margin-left 30px
    margin-bottom:auto
    margin-top: auto
    display: none
    @media movil-xs
      display: block

.main
  height: 100vh

.cabecera_button
  width: fit-content
  height: fit-content
  text-align: left
  margin-bottom:auto
  margin-top: 15px
  border-radius 10px

.cabecera_button-contact
  width: fit-content
  height: auto
  padding: 15px 3px
  border: none;
  font-weight: 600
  border-radius 10px
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  transition: 0.5s
  font-size: font-s
  @media movil-xs
    font-size: font-m
    padding: 20px 5px

.cabecera_button-contact:hover
  background: transparent

.cabecera_aside
  height: 100% !important
  width:50%
  position: absolute
  top 0
  right:0
  z-index: -1
  overflow: hidden
  .cabecera_aside_img
    width: 100%
    height: 100%

  img
    width: 300%
    height: 150%
    border-radius 100%
    object-fit: cover
    margin-right: auto
    @media tablet
      width: 100%
      height: 100%
      -webkit-transform:scale(2);
      transform:scale(2)
      border-radius 100%
      display: block
      margin-left: 70%
      margin-right: auto

.banner_doble
  position: relative


// Banner imagen medio y laterales
.banner,.banner_doble
  width: 100%
  height: fit-content
  display: flex
  padding: 30px 15px
  flex-direction: column
  align-items: center
  text-align: center
  justify-content: center
  font-size 70%
  @media movil-xs
    padding: 50px 30px
    font-size 100%
  @media tablet
    font-size 100%
    padding: 90px 200px

  img
    opacity: 0.3
    position: absolute
    height: auto
    width:80%
    @media movil
      width: auto
      height: 50%

.banner_title
  margin-bottom: 20px
.banner_paragraph
  p
    margin-bottom: 20px
.banner_doble-left,.banner_doble-right
  width 100%
  height: 0%
  img
    height: auto
    width:50%
    opacity: 0.8
    z-index -100
    @media movil
      height: 45%
      width:auto
    @media escritorio-s
      height: 50%
      width:auto
.banner_doble-left
  width 0%
  img
    position absolute
    top 0 
    left 0
.banner_doble-right
  width 0%
  img
    position absolute
    bottom  0 
    right  0

// Banner contador de numeros
.banner_counter
  display: flex
  width 100%
  height: auto
  padding:0px 20px
  flex-direction: column
  margin: auto
  @media tablet
    flex-direction: row

  .counter_box
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    margin-left: -1px
    width: 100%
    height: 300px
    @media tablet
      width: 28%
      border-left: 0.4px dashed rgb(223, 223, 223)
      border-right: 0.4px dashed rgb(223, 223, 223)
    .counter_icon
      color: gray
      height: 18%
      width: 100%
    .counter_number
      height: 32%
      width: 100%
      font-size: font-xxl
      @media tablet
        font-size: font-xl
      @media escritorio-s
        font-size: font-xxl
    .counter_text
      height: 18%
      width: 100%
      padding-left 5px
      padding-right 5px
      font-weight: 600

.banner_tex_img 
  width: 100%
  height: fit-content
  display: flex
  flex-direction: column-reverse
  justify-content: center
  align-items: center
  text-align: center
  position: relative
  img
    opacity: 0.3
    position: absolute
    height: auto
    width:80%
    @media movil
      width: auto
      height: 50%
  
  @media escritorio-s
    flex-direction: row
    height: 100%

.banner_text_box,.banner_img_box 
  width: 100%
  padding-top: 50px
  @media movil-xs
    padding: 0px 25px
    padding-top: 50px
  @media tablet
    padding: 0px 50px
    padding-top: 50px
  @media escritorio-s
    width: 50%
    padding: 50px 40px
  
.banner_text_box
  padding: 50px 10px
  @media movil
    padding: 50px 40px
  @media tablet
    padding: 50px 80px


  
  .banner_paragraph,.banner_title
    font-weight: 0
    font-size: font-xs
    padding:0px  10px
    text-align: left
    @media movil
      padding:0px  50px

    h3
      color gray
      font-weight: 100
      margin-bottom: 20px

.banner_img_box     
  .banner_img
    width: 100%
    height: 100%
    img
      position: relative
      opacity: 1
      width: 100%
      height: 100%
      @media movil-xs
        border-radius 10px

// Enlaces
.enlace
  text-decoration: none
  color: color-first
  font-weight: 600




    







    





  