footer
    .footer_container.back.color-letter 
        .footer_box
            .footer_location 
                h2.font-s.color-first Location
                p.font-xs Colombia - Cali 452 2 - 5d C20d
                p.font-xs + 57 ( 320-102-40441) Lunes - Sábados
                p.font-xs Colombia - Cali 452 2 - 5d C20d
            .footer_services 
                h2.font-s.color-first Explore 
                ul
                    li
                        a(href="/service").font-xs Lorem ipsum dolor
                    li
                        a(href="/service").font-xs Elit. Voluptatum 
                    li
                        a(href="/service").font-xs Magnam nesciunt debitis
            .recent_blog
                h2.font-s.color-first Recents 
                ul
                    li
                        a(href="/blog").font-xs Voluptatum ipsum dolor
                    li
                        a(href="/blog").font-xs Magnam nesciunt Voluptatum 
                    li
                        a(href="/blog").font-xs Colombia nesciunt debitis
        .footer_redes 

        .footer_legal