footer
    .footer_container.back.color-letter 
        .footer_box
            .footer_location 
                h2.font-s.color-first Location
                p.font-xs Colombia - Cali 452 2 - 5d C20d
                p.font-xs 
                    a(href="#") + 57 ( 320-102-40441)
                p.font-xs Colombia - Cali 452 2 - 5d C20d
            .footer_services 
                h2.font-s.color-first Explore 
                ul
                    li
                        a(href="/service").font-xs Lorem ipsum dolor
                    li
                        a(href="/service").font-xs Elit. Voluptatum 
                    li
                        a(href="/service").font-xs Magnam nesciunt debitis
            .recent_blog
                h2.font-s.color-first Recents 
                ul
                    li
                        a(href="/blog").font-xs Voluptatum ipsum dolor
                    li
                        a(href="/blog").font-xs Magnam nesciunt Voluptatum 
                    li
                        a(href="/blog").font-xs Colombia nesciunt debitis

            .social-networks
                ul
                    li 
                        a(href="/blog")
                            .fa-brands.fa-facebook.size-icon
                    li 
                        a(href="/blog")
                            .fa-brands.fa-instagram.size-icon 
                    li 
                        a(href="/blog")
                            .fa-brands.fa-twitter.size-icon
                    li 
                        a(href="/blog")
                            .fa-brands.fa-linkedin-in
                    li 
                        a(href="/blog")
                            .fa-brands.fa-pinterest
                    li 
                        a(href="/blog")
                            .fa-brands.fa-twitch
                    li 
                        a(href="/blog")
                            .fa-brands.fa-whatsapp
                    li 
                        a(href="/blog")
                            .fa-brands.fa-snapchat
                    li 
                        a(href="/blog")
                            .fa-brands.fa-youtube
                    li 
                        a(href="/blog")
                            .fa-brands.fa-tiktok

                .footer_legal 
                    ul 
                        li 
                            a.font-xs.color-letter(href="/") Politicas de privacidad 
                    li 
                        a.color-letter.font-xs(href="/") Politicas de privacidad 
                    li 
                        a.color-letter.font-xs(href="/") Politicas de privacidad 
                    li 
                        a.color-letter.font-xs(href="/") Politicas de privacidad 
                    li 
                        a.color-letter.font-xs(href="/") Politicas de privacidad 


        .footer_legal