header
    .bg-color.back-color-white
        nav.navbar.navbar-fixed-top
            .d-flex
                a.navbar-brand.color-letter.d-flex(href='#') 
                    img(src="/img/preview.jpg", alt="")
                ul.navbar-nav
                    li
                        a.color-letter(href='#main-header') Home
                    li
                        a.color-letter(href='#feature') About
                    li
                        a.color-letter(href='#service') Services
                    li
                        a.color-letter(href='#blog') Blog
                    li
                        a.color-letter(href='#contact') Contact Us
                a.navbar-brand.color-letter.d-flex(href='#') 
                    img(src="/img/preview.jpg", alt="")

