header
    .bg-color
        nav.navbar.navbar-fixed-top
            .container.d-flex
                a.navbar-brand(href='#') BANAKY 
                    span.logo-dec COMPANY
                ul.nav.navbar-nav.navbar-right
                    li.active
                        a(href='#main-header') Home
                    li
                        a(href='#feature') About
                    li
                        a(href='#service') Services
                    li
                        a(href='#blog') Blog
                    li
                        a(href='#contact') Contact Us

